<!DOCTYPE html>
<html>
<head>
  <title>CircusSpace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <nav class="top-bar top-bar-signed-in">
      <a href="/"><img class="logo" src="/assets/logo.jpg"></img></a>


      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </section>
    </nav>
  <% else %>
    <nav class="top-bar top-bar-signed-out">
      <h1><a href="/">CircusSpace</a></h1>
    </nav>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
